.Button {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
}

.Button_true {
  background-color: #3e3e3e;
  color: white;
  transition: background-color 0.3s ease;
  transition: color 0.3 ease;
}

.Button_false {
  transition: background-color 0.3s ease;
  transition: color 0.3 ease;
}

.Button_true.Button_POSITIVE {
  color: black;
  transition: background-color 0.3s ease;
  transition: color 0.3 ease;
}

.Button_NEGATIVE {
  color: white;
  background-color: rgb(253, 86, 95);
}

.Button_POSITIVE {
  color: white;
  background-color: #fedf04;
}

.Button_updel {
  padding: 5px;
}

.Button_setting {
  padding: 8px;
  border-radius: 20px;
}
