.DiaryList .menu_bar {
  margin: 20px 0px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.DiaryList .menu_bar_select {
  gap: 10px;
  display: flex;
}

.DiaryList .menu_bar select {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;

  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  justify-content: flex-end;
}

.DiaryList .Button_fixed {
  position: fixed;
  margin: 0 auto;
  bottom: 20px;
  right: 20px;
  left: 20px;
  z-index: 1000;

  max-width: 600px;
}

.DiaryList .menu_bar .diary_length > span {
  color: #fedf04;
  font-size: 18px;
}

.DiaryList .side_button {
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: fixed;
  bottom: 90px;
  margin: 0 auto;
  left: 72%;
  left: 1060px;
  left: calc(100% - 60px);
  z-index: 1200;
  max-width: 1000px;

  max-width: 40px;

  /* position: fixed;
  bottom: 90px;
  left: 80%;
  transform: translateX(-50%);
  z-index: 1200;
  max-width: 40px; */
}

/* .DiaryList .fixed_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
} */
