.Editor {
  margin-bottom: 40px;
}

.emotion_list_wrapper {
  display: flex;
}

.Editor > section > div > input,
textarea {
  border-radius: 5px;
  border: none;
  background-color: rgb(246, 246, 246);
  padding: 10px 20px;
  font-size: 15px;
}

.Editor > section > textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  resize: vertical;
  min-height: 200px;
}

.Editor .button_section {
  display: flex;
  justify-content: space-between;
}

.Editor .content_section {
}

.Editor .emotion_0 {
  font-size: 11px;
  color: red;
}

/* .Editor > section > h4 {
  display: flex;
} */

.Editor .date_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Editor .content_section_div > input {
  display: none;
}
.Editor .content_section_div > label {
  background-color: beige;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

.Editor .content_title_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Editor .content_section_img {
  display: flex;
  justify-content: center;
}
.Editor .image_preview {
  width: 100%;
  max-height: 300px;
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.Editor .img_loading {
  padding: 10px;
  margin: 50px 0px;
}

.Editor .emotion_section > h4 {
  display: flex;
  align-items: center;
}
