.SideButton .side_button {
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: fixed; /* 화면 기준 고정 */
  bottom: 70px;
  right: calc((100% - 800px) / 2 + 20px);
  z-index: 1200;
  max-width: 40px;
}

@media screen and (max-width: 480px) {
  .SideButton .side_button {
    right: 70px;
    flex-direction: row;
  }
}
