.Viewer .content_section {
  width: 100%;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* text-align: center; */
}

.Viewer .img_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Viewer > section > h4 {
  font-size: 20px;
  font-weight: bold;
}
.Viewer .img_section_title > h4 {
  font-size: 20px;
  font-weight: bold;
}

.Viewer .emotion_img_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Viewer .content_wrapper {
  background-color: rgb(236, 236, 236);
  width: 100%;
  border-radius: 5px;

  word-break: keep-all;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.Viewer .content_wrapper > p {
  padding: 20px;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  line-height: 2.5;
}

.Viewer .img_section_title {
  display: flex;
}

.Viewer .emotion_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Viewer .emotion_section > img {
  height: 50px;
  /* width: ; */
}

.Viewer .imgView {
  max-width: 100%;
}
